<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <title>Product List</title>
</head>
<body>
<h1>Product List</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${productList}" th:object="${product}">
        <td th:text="${product.id}"></td>
        <td th:text="${product.name}"></td>
        <td th:text="${product.price}"></td>
    </tr>
    </tbody>
</table>
</br>
<form class="d-flex" action="/search" method="get">
    <input class="form-control me-2" type="search" name="name" placeholder="Search product" aria-label="Search" th:value="${name}">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
</body>
</html>