<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Search Results</title>
</head>
<body>
<h1>Search Results</h1>

<!-- Back to Product List -->
<a th:href="@{/showProducts}">Back to Products</a>

<br><br>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Price</th>
    <th>Image</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="product : ${providers}">
    <td th:text="${product.id}"></td>
    <td th:text="${product.name}"></td>
    <td th:text="${product.price}"></td>
    <img src="https://via.placeholder.com/300" class="card-img-top" alt="Restaurant image" th:src="@{${provider.imageurl} ?: 'https://via.placeholder.com/300'}">
  </tr>
  </tbody>
</table>

<!-- If no products are found -->
<p th:if="${#lists.isEmpty(providers)}">No products found.</p>
</body>
</html>